 *{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
    
 .titulo-pag h1{
    text-align: center;
    font-size: 3.5em;
    color:#7474ec;
    text-shadow: 2px -2px 4px gray;
    margin:40px 0;
    letter-spacing: -1px;
    word-spacing: 2px;
    text-transform: uppercase;
 }
 .titulo-pag span{
    color:#758b90;
 }
 .contenedor-navegador{
   border-top: 1px solid gray;
   margin-bottom: 20px;
 }
   
 .navegador{
   display:flex;
   max-width: 800px;
   background-color: transparent;
   margin:20px auto;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
 }
    
 .navegador a{
   font-size: 1.3em;
   color:#15152e;
   text-decoration: none;
   border-radius: 10px;
   width: 100px;
   height: 40px;
   text-align: center;
   padding: 7px 0 0 0;
   transition: transform 0.2s;
 }

.navegador a:hover{
   transform: scale(1.2);
   background-color: #7474ec;
}

.banner{
   background-image: url(/3-PROYECTO/img/principal.jpg);
   height: 450px;
   background-size: cover;
   background-position: center;
}
  
.categoria-productos h2{
   text-align: center;
   color:#062e3c;
   padding:40px 0;
   font-size: 1.9em;
}
.contenedor-link{
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap;

}
.link {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 70px;
   transition: transform 0.2s;
}
.link a{
   padding:20px;
   width: 100%;
   background-color: #b1c0f1;
   text-align: center;
   border-radius: 0 0 20px 20px;
   text-decoration: none;
   font-size: 1.2em;
   color:#062e3c;
}
.link:hover{
   transform: scale(1.1);
   color:gray;
}
.sobre-nosotros{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  
}
.imagen-sillon{
   background-image: url(/3-PROYECTO/img/nosotros.jpg);
   width: 50%;
   height: auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.texto-sobre-nosotros{
   width: 50%;
   padding: 160px 150px; 
   background-color: rgb(58, 164, 199); 
}
.texto-sobre-nosotros h2{
   color:white;
   font-size: 2em;
}
.texto-sobre-nosotros p{
   margin-top: 15px;
   color:wheat;
   line-height: 1.3;
   
}