
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&family=Sofia&display=swap');
html{
   box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
   margin:0;
   padding:0;
    
 }
 .contenedor {
   max-width: 1200px;
   margin: 0 auto;
}
 body{
   font-family: "roboto", sans-serif;
 }
 h1,h2,h3{
   margin:40px 0 ;
 }
 img{
   max-width: 100%;
   display: block;
 }

 /**UTILIDADES*/
/* comunmente se les asigna un solo valor y llevan como nombre lo que hacen*/
 .text-center{
   text-align: center;
 }
 .text-size{
   font-size:2.5rem;
 }
 .color{
   color:#062e3c
 }
 
 
 .titulo-pag h1{
    text-align: center;
    font-size: 3.5rem;
    color:#7474ec;
    text-shadow: 2px -2px 4px gray;
    margin:40px 0;
    letter-spacing: -1px;
    word-spacing: 2px;
    text-transform: uppercase;
 }
 .titulo-pag span{
    color:#758b90;
 }
 .contenedor-navegador{
   border-top: 1px solid gray;
   margin-bottom: 20px;
 }
   
 .navegador{
   display:flex;
   max-width: 800px;
   background-color: transparent;
   margin:20px auto;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   
 }
    
 .navegador a{
   font-size: 1.3em;
   color:#15152e;
   text-decoration: none;
   border-radius: 10px;
   width: 100px;
   height: 40px;
   text-align: center;
   padding: 7px 0 0 0;
   transition: transform 0.2s;
 }

.navegador a:hover{
   transform: scale(1.2);
   background-color: #7474ec;
}

.banner{
   background-image: url(/3-PROYECTO/img/principal.jpg);
   height: 450px;
   background-size: cover;
   background-position: center;
}
  
.categoria-productos h2{
   text-align: center;
   color:#062e3c;
   padding:40px 0;
   margin-top: 40px;
   font-size: 2.5rem;
   
}
.contenedor-link{
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap;
   

}
.link {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px 0;
   transition: transform 0.2s;
}
.link a{
   padding:20px;
   width: 100%;
   background-color: #b1c0f1;
   text-align: center;
   border-radius: 0 0 20px 20px;
   text-decoration: none;
   font-size: 1.2em;
   color:#062e3c;
}
.link:hover{
   transform: scale(1.1);
   color:gray;
}
/*.sobre-nosotros{
   background-image: linear-gradient( to right, transparent 50%, #b1c0f1 50%), 
   url(/3-PROYECTO/img/nosotros.jpg);
   padding: 120px 0;    /* crece el contenedor desde dentro */
   /*background-size: 100%, 800px;
   background-repeat: no-repeat;
   background-position: left center;
}
/*  DISPLAY -GRID
.sobre-nosotros-grid{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 70px;
}
.texto-nosotros{
   grid-column: 2/3;
   
}*/

.sobre-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    
}
.banner-nosotros{
   background-image: url(/3-PROYECTO/img/nosotros.jpg);
   background-position: center;
   background-size: cover;
}

.sobre-nosotros-flexbox{
   padding: 150px;
   background-color: #7474ec;
}
.texto-nosotros{
   /*flex-basis: ;           reduce el ancho del elemento al % establecido*/
   color:#062e3c;
}

.nuestros-productos h2{
   font-size: 2.5rem;
   color:#062e3c;
}
.listado-producto{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   column-gap: 20px;
   row-gap: 20px;
}
.producto:nth-child(1) {            /* selecciona al primer elemento con la clase producto*/
   grid-column: 1/7;
   display: grid;
   grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img{
  height: 430px;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}        
.producto:nth-child(2) {
   grid-column: 1 / 4;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img{
   height: 350px;
   width: 100%;
   object-fit: cover;
}   
.producto:nth-child(4) img,
.producto:nth-child(5) img,
.producto:nth-child(6) img{
   height: 350px;
   object-fit: cover;
}

.producto:nth-child(3) {
   grid-column: 4 / 7;
}
.producto:nth-child(4) {
   grid-column: 1 / 3;
}
.producto:nth-child(5) {
   grid-column: 3 / 5;
}
.producto:nth-child(6) {
   grid-column: 5 / 7;
}
.producto{
   background-color: #b1c0f1;
}

.texto-producto{
   text-align: center;
   padding:30px
}

.descripcion-producto{
   padding-bottom: 20px;
}
.texto-producto .precio{
   font-size: 35px;
   font-weight: bold;
   padding-bottom:10px;
}
.texto-producto a{
   background-color: #8cbc00;
   display: block;                       /* hara que el elemento tome todo el ancho disponible */
   color:#fff;
   text-transform: uppercase;
   font-weight: bold;
   padding:15px;
   transition: background-color .3s ease-out;
}
.texto-producto a:hover{
   background-color: #769c02;
}

/**footer**/

.site-footer{
   border-top: 1px solid gray;
   margin-top:40px;
   padding-top:50px
}
.grid-footer{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 20px;
}

.footer-menu a{
   display: block;   
}
a{
   padding-bottom:10px;
   color:black;
   text-decoration: none;
}
.copyright{
   text-align: center;
   margin-top:30px;
   font-weight: bold;
}


/**NOSOTROS**/
.contenido-principal{
   margin-top: 70px;
}
.contenido-principal h2{
   font-size: 2.5rem;
   color:#062e3c;
   
}

.contenido-nosotros{
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));   /* cuando la imagen este en menos de 300px tomara 1 fr completo para las columas*/
   column-gap: 20px;
}
.informacion-nosotros{
   display: flex;
   gap:30px;
   flex-direction: column;
   justify-content: center;
}
.contenedor-blog{
   display: grid;
   grid-template-columns: 1.7fr 1fr;
   column-gap:50px;
}
.entrada{
   border-bottom:1px solid gray;
   margin-bottom: 30px;
}
.entrada-meta{
   display: flex;
   justify-content: space-between;
   padding:30px;
}
.entrada-meta p{
   font-weight: bolder;
}
.entrada-meta span{
   color:#098f9b;
}
.entrada-blog p{
   line-height: 30px;
   margin:30px 0;
}
.btn{
   background-color: #8cbc00;
   color:white;
   font-weight: bold;
   display: block;
   padding:10px;
   max-width: 230px;
   text-align: center;
   margin-bottom: 50px;
   transition: background-color 0.5s ease-out;
}
.btn:hover{
   background-color:#769c02;
}
.lista-entrada{
   margin: 0 60px;
}
.lista-entrada li{
   
   font-size: 1.1rem;
   margin-bottom: 10px;
}
.contenedor-entrada{
   width: 600px;
   margin: 0 auto;
}
.contenedor-imagenes{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}
