
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.contenedor{
    display: grid;
    gap:10px;
    width: 90%;
    max-width: 400px;
    margin:0 auto;
    grid-template-rows: repeat(5, 1fr);
}
.box{
    background-color: violet;
    border: 2px solid gray;
    border-radius: 5px 5px;
    text-align: center;
    padding-top: 20px;
}

@media (min-width: 768px) { 
    .contenedor{
        max-width: unset;
        grid-template-areas:   "header header header"
                               "nav    nav    nav"
                               "aside  main   main"     
                               "footer footer footer";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4fr 2fr 20fr 3fr
    }
}

@media (min-width: 768px) { 
    .box:nth-child(1){
        grid-area: header;
    }
}
@media (min-width: 768px) { 
    .box:nth-child(2){
        grid-area:nav;
    }
}
@media (min-width: 768px) { 
    .box:nth-child(3){
        grid-area: main;
    }
}
@media (min-width: 768px) { 
    .box:nth-child(5){
        grid-area: footer;
    }
}