@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@300&family=Sofia&display=swap');
*{
    font-family: Nunito, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.contenedor{
    
    height: 100vh;
    background-image:url(/1-PROYECTO/img/pintura-lago-montana-montana-al-fondo.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.search-box{
    background-color: white;
    width: 90%;
    max-width: 650px;
    padding: 10px;
    display: flex;

    align-items:center;
    border-radius: 30px;
    height: 60px;
    position:relative;
    overflow: hidden;
}
.search-box input{
    flex:1;
    padding:15px 10px;
    border:0;
    outline:none;
    background: transparent;
    font-size: 20px;
}

.search-box button img{
    width: 40px;
}

.search-box button{
    padding: 10px 12px;
    border:none;
    outline: none;
    background: white;
    cursor:pointer;
}
.slider {
    position:absolute;
    bottom: 0;
    left:285px;
    animation: slider 6s linear infinite;
}

.slider div{
    height: 85px;
    display: flex;
    align-items: center;
}

.slider img{
     width: 30px;
}
@keyframes slider {

}


