              /*FUENTE*/

body {
    /*font-family: arial;      /*tipografia*/
    /*font-size: 15px;         /*tamaño de las letras, se recomienda usar px , % o em*/
    /*font-weight: 700;        /*groso de las letras o negrita */
    /*font-style: italic ;     /*modifica stilo de la fuente*/
    /*font-variant: small-caps;     /*modifica el aspecto de la fuente*/
    /*line-height: 1.5;            /*modifica el espacio entre renglon y renglon del texto "1.5 seria espacio y medio (renglon y medio)"*/

/* shorthand o metodo abreviado " para este metodo no pueden faltar el font-size y font-family y se ponen al ultoimo*/

font: italic small-caps 200 10px/1 arial}

/*TEXTO: sirven para complementar las propiedades de la fuente, se aplica alas textos que esten en bloque como alineacion
utilizar sangrias, convertir letras y agregar algun tipo de decoracion*/

p { 
    text-align: justify;    /* posiciona los parrafos al centro derecha izquierda etc */
    text-indent: 30px;     /* aplica sangria francesa se pone numero, px o % */
    text-transform: uppercase;  /*capitalize, lowercase ,uppercase , permite transformar el texto a otro estado como pasar a mayusculas por ejem*/
    text-decoration: underline;    /*lineas como subtitulo tachar palabras o cancelar lineas de los links*/
    }
   


    img { width: 100px; height: 150px;vertical-align:top;}/* vertical aling sirve para alinear la primera linea ala imagen*/
     
    h2 {letter-spacing: 6px;             /* genera un escacio entre las letras*/
        word-spacing: 10px ;             /* genera un espacio entre las palabras*/
    }   

/*background: establece un imagen o color de fondo a los elementos seleccionados */
body {
    /*background-color: #f00 ;*/
    background-image: url(../img/gallina.jpg);
    background-repeat:repeat-x;
    background-size: cover;
}

    

    


