.icono_google{
    vertical-align:middle;      /* centra el icono ala altura del parrafo*/
    color:cornflowerblue;
    font-size: 2.5em;
}
.icono_flecha{
    vertical-align: middle;
    color:red;
    font-size: 2em;
}