// el guion abajo en el nombre del archivo es para indicar que sera incluido en otro
@use "base/variables" as v;
@use "base/mixins" as m;

.header{
    padding: 5rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
    @include m.tablet{
        min-height: 70rem;
    }

    &::before{
        content: "";                  //con el before creamos un fondo negro que se pondra por encima y con 
        position: absolute;           // movemos su posicion en relacion al position relative que tiene el header
        background-color: v.$negro;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;                  // hace que el fondo negro agregado se vuelva mass transparente       
        
    }
    .contenido-header{
        position: relative;         // el position relative hara que el contenido-header se mueva en relacion al documento html por ende se sobrepondra por encima 
        
        .texto-header{
            font-size: 3.8rem;
            color:v.$blanco;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            line-height: 1.3;
        }
    }
}

//header de cada pagina
.header-inicio{
    background-image: url(../img/header_inicio.jpg);
}

.header-nosotros{
    background-image: url(../img/header_nosotros.jpg);
    
}

.header-proceso{
    background-image: url(../img/header_proceso.jpg);
}

.header-menu{
    background-image: url(../img/header_menu.jpg);
}

.header-galeria{
    background-image: url(../img/header_galeria.jpg);
}

.header-contacto{
    background-image: url(../img/header_contacto.jpg);
}