h1{
    text-align: center;
    color: crimson
}
.position_relative{
    /* POSITION RELATIVE podemos mover elemento bloque con lo valores top left
     botton right, dejando su espacio reservado en la pagina, los elementos 
     que agregemos despues se haran de manera natural*/
    
    position:relative;
    top:100px;        
    left:50px;
    width: 200px;
    border: 3px solid crimson;
    margin:auto;
}
    /*fixed, se coloca en relación con la ventana del navegador en lugar de 
    estar vinculado a su posición en el documento HTML, se mantiene fijo en 
    relación con la ventana,Otros elementos en la página se colocarán como si 
    el elemento con position: fixed no estuviera presente.Es una propiedad de 
    CSS que permite fijar un elemento en una posición específica en la ventana 
    del navegador, independientemente del desplazamiento del contenido.*/
.position_fixed{
    position:fixed;
    border:3px solid blue;
    top:2px;
    left:2px;
    
}
.parrafo{
    padding-bottom: 2000px;

    
}
     /*POSITION RELATIVE:permite ajustar la posición de un elemento en relación con su posición normal, 
     utilizando las propiedades de desplazamiento (top, right, bottom y left). Esto es útil cuando deseas realizar ajustes de
      posicionamiento específicos sin afectar a otros elementos en la página.*/

.relative{
    max-width: 300px;
    height: 200px;
    top:100px;
    left:100px;
    position:relative;
    border:3px solid cornflowerblue
}     
    /*El valor position: absolute en CSS es una propiedad que se utiliza
     para controlar el posicionamiento de un elemento en relación con su 
     primer elemento padre que tenga una posición distinta a static. A 
     diferencia de position: relative, que ajusta la posición de un 
     elemento en relación con su posición normal en el flujo del 
     documento, position: absolute posiciona el elemento de manera 
     absoluta en relación con su elemento padre posicionado más cercano*/
.position_absolute{
    position:absolute;
    bottom:20px;
    right:10px;
    border:3px solid yellow;
}
/*STICKY:funciona como un position static hasta que sale de pantalla
pa funcionar como un position fixed ,Para que position: sticky funcione,
 debes especificar una propiedad adicional llamada top, right, bottom, o 
 left para indicar la distancia desde el borde superior, derecho, inferior
 o izquierdo del elemento de referencia*/
.position_sticky{
    position:sticky;
    top:100px;
    border:3px solid crimson
}