@use 'base/variables' as v;
@use 'base/mixins' as m;

.favoritos{
    background-color: v.$grisClaro;
    padding-bottom: 5rem;

    &__heading{
        padding:5rem;
        color:v.$secundario;
        font-size: 3.3rem;
        margin:0;
    }

    &__grid{
        @include m.tablet {
            @include m.grid(2, 3rem)
        }
    }
}
