table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;    /* sive para unir el borde en una sola linea*/
    padding:5px;
    /*border-spacing: 5px;*/               /*sive para agrandar el espacio dentro del borde*/
}
caption {
    color: crimson;
    font-family: sans-serif;
    font-size: 45px;
    line-height: 70px;          /* agrega espacio de la parte superior e inferior de la linea*/
}
th{
    color:#f1faee;
    background-color: #1d3557 ;
}
/*renglones pares*/
tr:nth-child(even){
    background-color: #f1faee;
}
/*renglones impares*/
tr:nth-child(odd){
    background-color: #a8dadc;
}
/*
td {
    text-align: center;               /*alinea el texto al centro
}
th {
    text-align: left;                 /*alinea el texto ala derecha
}*/